.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .loaderWrapper {
    width: 300px;
    height: 300px;
} */
.loaderWrapper {
    width: 100%;
    height: 100%;
}
.loaderWrapper img {
    width: 100%;
}